.container
  .card.shadow
    .card-header
      %h3
        About Us
    .card-body
      %a{:href => "https://corsego.com", :target => "_blank"} Corsego e-learning platform
      is authored by Yaroslav Shmarov.
      %p
      You can learn to build such applications on your own, as well as discover all my reasonings for this architecture in my
      %b Bestseller Udemy Course
      🎥
      %a{:href => "https://www.udemy.com/course/2519558/?referralCode=4721E9D437DEE1734159"} Ruby on Rails 6: Learn 25+ gems and build a Startup MVP 2020
      %p
      Learn to build an e-learning platform step-by-step. 19 hours of video, 18 chapters and 200 lectures.
      %strong 500+ students already enrolled!
      %hr
      %h3 New hot project!

      💾
      %a{:href => "https://saas.corsego.com"} CorsegoSaaS
      \- Ruby on Rails row-based multitenancy SaaS template. Check it out!
      %p
      🎥
      %a{:href => "https://gumroad.com/l/lHKxjT"} Ruby on Rails 6: Learn to Build a B2B SaaS Multitenancy MVP 2020
      \- 🔥 My New Video Course. Build a multitenancy SaaS step-by-step. 13 hours of video, 20 chapters, 160 lectures.

      %hr
        📕
        %a{:href => "https://blog.corsego.com"} My Ruby on Rails blog
      %p
        💬 You can follow me on Twitter
        %a{:href => "https://twitter.com/yaro_the_slav"} @yaro_the_slav

    .card-footer
      Questions?
      %a{:href => "mailto:hello@corsego.com?subject=Corsego%20SaaS%20question"} Contact us
%br