- content_for :title do
  Terms and Conditions
- set_meta_tags(title: "Terms and Conditions",
                description: "Corsego's terms and conditions for using our online learning platform. Understand your rights and obligations as a student or instructor.",
                type: "website",
                url: terms_url)

.container
  .card.shadow
    .card-header
      %h1.h3
        Terms and Conditions
    .card-body
      Coming soon!
%br