%b 
  Your course
  = link_to @course.title, @course
  has been unapproved.
.row
Now it is invisible and can not accept new enrollments.
%p
Maybe, you have violated the terms of service. 
%p
Please contact support.
%p
Regards, 
.row
= link_to 'The Corsego team', root_url
