.container
  .card.shadow
    .card-header
      %h3
        About Us
    .card-body
      %a{:href => "https://corsego.herokuapp.com", :target => "_blank"} Corsego e-learning platform
      is authored by Yaroslav Shmarov.
      %p
      %a{:href => "https://twitter.com/yaro_the_slav", :target => "_blank"} My Twitter
      %p
      %a{:href => "https://github.com/yshmarov", :target => "_blank"} My Github
      %p
      You can learn to build such applications on your own, as well as discover all my reasonings for this architecture in my
      %a{:href => "https://www.udemy.com/course/ruby-on-rails-6-learn-20-gems-build-an-e-learning-platform/?referralCode=4721E9D437DEE1734159", :target => "_blank"} Bestseller Udemy Course
    .card-footer
      Questions?
      %a{:href => "mailto:yshmarv@gmail.com?subject=Corsego%20SaaS%20question"} Contact us
