.card.shadow
  .card-header
    Add comment to lesson:
    = @lesson
  .card-body
    = render 'lessons/comments/form'
  .card-footer
    = link_to 'Back to lesson', course_lesson_path(@course, @lesson, anchor: "current_lesson")