%h3.text-center
  Tags
  .badge.badge-info
    = @tags.count
.card
  .card-body
    - @tags.each do |tag|
      .row
      = tag.name + ":"
      = tag.course_tags_count
      = link_to 'Destory', tag, method: :delete, data: { confirm: 'Are you sure?' }