%h3.text-center
  Tags
  .badge.badge-info
    = @tags.count
.card.shadow
  .card-body
    - @tags.each do |tag|
      .row
      .badge.badge-info
        = tag.name + ":"
        %span.badge.badge-light
          = tag.course_tags_count
      = link_to 'Destory', tag, method: :delete, data: { confirm: 'Are you sure?' }