- if current_user
  - if lesson.course.bought(current_user)
    - if lesson.viewed(current_user) == true
      .text-success.fa.fa-check-square
    - else
      .text-danger.fa.fa-check-square
  - else
    .fa.fa-check-square
  = link_to lesson.title, course_lesson_path(@course, lesson)
- else
  .fa.fa-check-square
  = link_to lesson.title, course_lesson_path(@course, lesson)

.float-right
  - if policy(lesson).edit?
    = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning'
    = link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
  
