@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./actiontext.scss";

@import "selectize/dist/css/selectize";
@import "selectize/dist/css/selectize.default";

body { background: #2a4054; color: #ebedf0; }
.card, .jumbotron, .list-group-item { color: #2a4054; }
.purple-background { background-color: #563d7c; }
.table { background: white; }
hr { background-color: white; }

//hide simple_form checkmarks
.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }

//highlight drag and drop
.ui-state-highlight { height: 3em; line-height: 1.2em; background-color: yellow; }

//no action_text attachment button
//.trix-button-group--file-tools { display: none !important; }

//2 cards in a column row
//.card-columns {
//    -webkit-column-count:2;
//    -moz-column-count:2;
//    column-count:2;
//}