@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./actiontext.scss";

@import "selectize/dist/css/selectize";
@import "selectize/dist/css/selectize.default";

//light background
body { background: #f8f0e6; }

.purple-background { background-color: #563d7c; }
.table { background: white; }

//dark background style
//body { background: #2a4054; color: #ebedf0; }
//.card, .jumbotron, .list-group-item { color: #2a4054; }
//hr { background-color: white; }

//hide simple_form checkmarks
.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }

//highlight for drag and drop functionality
.ui-state-highlight { height: 3em; line-height: 1.2em; background-color: yellow; }

//custom bootstrap button color
$mynewcolor:#563d7c;
.btn-custompurple {
    @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}
.btn-outline-custompurple {
    @include button-outline-variant($mynewcolor, #fff2f2, lighten($mynewcolor,5%), $mynewcolor);
}

//no action_text attachment button
//.trix-button-group--file-tools { display: none !important; }

//2 cards in a column row (not default 3)
//.card-columns {
//    -webkit-column-count:2;
//    -moz-column-count:2;
//    column-count:2;
//}

//header navbar dropdown on top of all other content
.dropdown {z-index: 9999;}

//simple_form input for rich_text_area
trix-editor.form-control {
  height: auto;
}
