@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./actiontext.scss";

// body { background: #f8f0e6; }

.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }

.ui-state-highlight { height: 3em; line-height: 1.2em; background-color: yellow; }
