@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./actiontext.scss";

// body { background: #f8f0e6; }

//hide simple_form checkmarks
.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }

//highlight drag and drop
.ui-state-highlight { height: 3em; line-height: 1.2em; background-color: yellow; }

//no action_text attachment button
//.trix-button-group--file-tools { display: none !important; }
