%p Hello #{@resource.email},

%p We're contacting you to notify you that your password has been changed.

%p{ style: 'margin-top: 24px;' } If you did not make this change, please contact us immediately.

%p
  Best regards,
  %br
  The Corsego Team

%p{ style: 'font-size: 12px; color: #6c757d;' }= link_to 'Visit Corsego', root_url
