%footer.footer.purple-background.text-light
  .container
    %br
    .row
      .col-md-4
        = link_to 'Teach on Corsego', new_course_path
        .row
        Corsego for business
        .row
        About us
      .col-md-4
        = link_to 'Privacy policy', privacy_policy_path
        .row
        Terms and conditions
        .row
        Careers
        .row
        Help and Support
        .row
        Blog
      .col-md-4
        Copyright
        © 
        = Time.now.year
        Corsego Sp. z o.o.
        .row
        .fa.fa-envelope
        = mail_to 'yashm@outlook.com'
        .row
        %script{:src => "https://platform.linkedin.com/in.js", :type => "text/javascript"}
          :cdata
            lang: en_US
        %script{"data-counter" => "top", "data-id" => "42835367", :type => "IN/FollowCompany"}
%br